    /* Style pour ma page d'acceuil */

    @font-face {
        font-family: "Condiment";
        src: url(./assets/font/Condiment-Regular.ttf);
    }

    /* Image background */
Body {
   background: url(./assets/img/hOl6pYdo_2x.jpg) center/cover ;
   min-height: 100vh;

}

    /* Titre */
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    margin-right: 200px;
    /* Les tailles de polices doivent etre en REM */
    font-size: 7rem;
    /* Les ombres et la couleurs ont été faites a partir de 'inspecter' */
    text-shadow: -3px 2px 4px #bd2525c7;
    color: #fef8c0;
    font-family: 'Condiment', cursive;

}

main {
    /* boite */
    height: 500px;
    width: 90%;
    text-align: center;
    background: #ffffff59;
    /* centrer une boite */
    margin: 0% auto;
}

/* Pour ne plus voir les chiffres de ma liste */
ol {
    list-style-type: none;
  }