    /* Style pour ma page d'acceuil */
body.index {}
    @font-face {
        font-family: "Condiment";
        src: url(./assets/font/Condiment-Regular.ttf);
    }

    /* Image background */
Body {
   background: url(./assets/img/hOl6pYdo_2x.jpg) center/cover ;
   min-height: 100vh;

}

    /* Titre */
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right;
    margin-right: 200px;
    /* Les tailles de polices doivent etre en REM */
    font-size: 7rem;
    /* Les ombres et la couleurs ont été faites a partir de 'inspecter' */
    text-shadow: -3px 2px 4px #ad2424c7;
    color: #8ac7b7;
    font-family: 'Condiment', cursive;

}

main {
    /* boite */
    
    font-family: 'Condiment', cursive;
    font-size: 2rem;
    color: #8ac7b7;
    height: 500px;
    width: 100%;
    text-align: right;
    background: #ffffff00;
    flex-direction: column;

    

    /* centrer une boite */
    margin-left: -20%;
}

/* Pour ne plus voir les chiffres de ma liste */
ol {
    list-style-type: none;
  }

  /* colorer redirection quand cliquer */
  a:visited {
    color: #8ac7b7;
    
  }

  /* supprimer le souslignement */
  a {
    text-decoration: none;
  }


  body.tarte {

background: url(/assets/img/back.jpg) center;

  }

  body.burger {

    background: url(/assets/img/back.jpg) center;

  }

  body.sushi {

    background: url(/assets/img/back.jpg) center;
  }